name: BookPick BE  dev CI/CD (v 1.2)


on:
#  pull_request:
#    branches:
#      - develop      # develop을 대상으로 하는 PR만 감지
#    types: [ closed ]   # PR이 닫힐 때만 실행


  # PR Merge 수락 시에도 작동됨
  push:
    branches:
      - develop      # develop을 대상으로 하는 PR만 감지


jobs:
  #  test:
  #    runs-on: ubuntu-latest
  #    steps:
  #
  #      - name : 1. checkout repo
  #        uses: actions/checkout@v2 # 깃허브 액션이 코드가져옴
  #
  ##      - name: 2. run test
  ##        run: ./gradlew test
  #
  #      - name: 3. set up JDK 21
  #        uses: actions/setup-java@v2
  #        with:
  #          java-version: 21
  #          distribution: 'temurin'
  #
  #      - name: 4. grant execute permission for gradlew
  #        run: chmod +x gradlew


  build-and-push:
    #    needs: test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2 # 깃허브 액션이 코드가져옴


      - name: 3. Docker Hub Login
        uses: docker/login-action@v3
        with:
          username: ${{secrets.DOCKER_USERNAME}}
          password: ${{secrets.DOCKER_TOKEN}}

      - name: 4. Spring Image Build and Push
        run: |
          docker build --platform linux/amd64 \
            -t ${{ secrets.DOCKER_USERNAME }}/${{secrets.IMAGE}} \
            --push .
  deploy:
    needs: build-and-push
    # if: github.event.pull_request.merged == true   # merge된 경우에만 실행
    runs-on: ubuntu-latest
    steps:
      - name: Set up SSH    # 1. SSH 설정
        run: |
          mkdir -p ~/.ssh
          echo "${{ secrets.SSH_PRIVATE_KEY }}" > ~/.ssh/id_rsa
          chmod 600 ~/.ssh/id_rsa
          ssh-keyscan -H ${{ secrets.SERVER_HOST }} >> ~/.ssh/known_hosts

      - name: Deploy to EC2 # 2. EC2에 접속해서 배포 스크립트 실행
        run: |
          ssh -i ~/.ssh/id_rsa ${{ secrets.SERVER_USER }}@${{ secrets.SERVER_HOST }} 'bash -s' <<EOF
          set -e
          cd /home/${{secrets.SERVER_USER}}
          docker compose down
          docker compose up -d
          EOF